* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flexBox() {
  display: flex;
  justify-content: center;
  align-items: center;
}

$btnColor_inactive: #2193b0;
$btnColor_active: #6dd5ed;

body {
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}

.login_box {
  @include flexBox();
  height: 100vh;
}

.form_box {
  border-radius: 20px;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  h2 {
    font-size: 2rem;
    color: $btnColor_inactive;
    margin-bottom: 30px;
  }
  input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px 40px 15px 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  label {
    position: relative;
    i {
      position: absolute;
      bottom: 0;
      font-size: 1rem;
      right: 1rem;
      cursor: pointer;
    }
  }
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: $btnColor_inactive;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  transition: 0.4s;
  border-radius: 20px;
  cursor: pointer;
  &:hover,
  &:focus {
    background: $btnColor_active;
  }
}
