.add {
  &_product {
    width: 100%;
    background-color: rgb(227, 232, 236);
    border-radius: 20px;
    box-shadow: 0 0 5px rgba($color: #b1b1b1, $alpha: 0.2);
    padding: 25px 0;
    margin-top: 2rem;
    position: relative;
    display: flex;
    justify-content: space-around;

    .product {
      &_text {
        width: 40%;
        display: flex;
        flex-direction: column;
        .post_btn {
          margin: 25px auto;
          width: 250px;
          height: 45px;
          border-radius: 10px;
          background-color: #6dd5fa;
          box-shadow: none;
          color: #fff;
          font-weight: 700;
          font-size: 1.2rem;
          &:hover {
            box-shadow: 0 0 10px #6dd5fa;
          }
          &.disabled {
            pointer-events: none;
            background-color: #dbdbdb;
          }
        }
        input {
          height: 35px;
          outline: none;
          border: none;
          border-radius: 5px;
          margin: 10px 0;
          padding: 0 8px;
          font-size: 1rem;
          color: rgb(77, 77, 77);
          &:focus {
            box-shadow: 0 0 5px #6dd5fa;
            border: 1px solid rgb(0, 132, 240);
          }
        }
        .size_box {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: 100%;
          p {
            cursor: pointer;
            border-radius: 50%;
            border: 1px solid #a9b8ff;
            padding: 5px;
            margin: 5px 10px;

            &.active {
              background-color: red;
              color: #6dd5fa;
            }
          }
        }
        .number_input {
          width: 70px;
          font-size: 15px;
          .active {
            &:focus {
              box-shadow: none;
              border: 1px solid red;
            }
          }
        }
        // .active {
        // }
        .number_input:not(:first-child) {
          margin-left: 15px;
        }
      }

      &_img {
        .btn_file {
          width: 100%;
          margin-top: 25px;
          height: 2.4rem;
          line-height: 2.4rem;
          font-size: 1.5em;
          border-radius: 20px;
          display: flex;
          justify-content: center;
          background: linear-gradient(to right, #476f8a, #6dd5fa);
          color: #fff;
          box-shadow: none;
          &:hover {
            box-shadow: 0 0 10px #6dd5fa;
          }
        }
        // .inputDrag {
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   right: 0;
        //   bottom: 0;
        //   width: 100%;
        //   height: 100%;
        //   opacity: 1;
        //   cursor: pointer;
        // }
      }
      &_box {
        .inputDrag {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
        }
        cursor: pointer;
        position: relative;
        width: 400px;
        height: 250px;
        border: 3px dashed rgb(85, 161, 228);
        border-radius: 20px;
        transition: 0.2s;
        &:hover {
          border: 3px dashed rgb(160, 205, 245);
        }
        &:hover {
          .bx-cloud-upload {
            font-size: 8vw;
            color: #b9b9b9;
          }
        }

        &.active {
          border: 3px dashed red;
        }

        .file_name {
          position: absolute;
          bottom: 0;
          width: 100%;

          background: rgba(36, 144, 233, 0.4);
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          padding: 5px 0;
          text-align: center;
          color: #fff;
          font-size: 1.5rem;
        }
        img {
          border-radius: 20px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .icons {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          .bx-cloud-upload {
            font-size: 8vw;
            color: #707070;
          }
        }
        .bx-x {
          position: absolute;
          top: 5px;
          font-size: 35px;
          cursor: pointer;
          z-index: 10;
          right: 5px;
        }
      }
    }
  }
}

.size {
  &_numbers {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  &_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px 0;
    .set_size {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p {
      position: relative;
      width: 80px;
      border-radius: 30px;
      padding: 10px 10px;
      margin: 15px 5px;
      background-color: #edeff0;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      span {
        cursor: pointer;
        position: absolute;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        top: 0;
        right: 0;
        height: 100%;
        width: 30px;
        text-align: center;
        line-height: 40px;
        transition: 0.2s;
        padding-right: 5px;
        &:hover {
          background-color: #cfcfcf;
        }
      }
    }
  }
}

.error_size {
  position: absolute;
  color: red;
  left: -120px;
  text-shadow: 0 2px 8px rgba(255, 0, 0, 0.212);
  text-decoration: underline;
  text-align: center;
  line-height: 50px;
}
.btn_size {
  outline: none;
  padding: 0 !important;
}

select {
  outline: none;
  border: none;
  height: 35px;
  border-radius: 5px;
  padding: 0 5px;
}

.table_img {
  width: 65px;
}
.add_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 150px;
  }
  p {
    margin-top: 25px;
  }
}

.comlated {
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 80px;
    right: -100%;
    z-index: 20;
    width: 350px;
    padding: 15px 10px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 8px 15px rgba($color: #000000, $alpha: 0.2);
    transition: 0.5s ease-in-out;
    overflow: hidden;
    i {
      font-size: 35px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      line-height: 50px;
      text-align: center;
      color: rgb(0, 148, 49);

      box-shadow: 0 8px 15px rgba($color: #000000, $alpha: 0.2);
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: rgb(0, 160, 27);
      border-radius: 20px;
      animation: animate 20s linear 1;
      animation-fill-mode: forwards;
      @keyframes animate {
        0% {
          width: 100%;
        }
        100% {
          width: 0;
        }
      }
    }
    &.active {
      right: 100px;
    }
  }
}
.cleare_here {
  cursor: pointer;
}
.product_done {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  background-color: rgba($color: #000000, $alpha: 0.5);
  backdrop-filter: blur(15px);
  top: 0;
  left: -200%;
  width: 100%;
  border-radius: 30px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  h3 {
    color: #cfcfcf;
    font-size: 45px;
  }
  &.active {
    opacity: 1;
    visibility: inherit;
    left: 0;
  }
}
